  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

<p>
  <%= link_to 'Silence heretic', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Go ahead, bury the truth' } %>
</p>
